<div class="text-center px-6 py-4 mt-6">
    <h2 class="text-3xl font-bold text-gray-900 uppercase">Our Projects</h2>
    <div class="w-16 h-0.5 bg-[#D5BB45] mt-2 mx-auto"></div>
  </div>

  <div id="projectsContainer" class="container mx-auto px-6 md:px-14 py-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for project in projects %}
    <div class="project group bg-[#FFFBF0] rounded-lg overflow-hidden shadow-lg transition transform hover:-translate-y-2 hover:shadow-xl hover:bg-[#09321C]" data-category="city">
      <img src="{{ project.media_files.first.file.url }}" class="w-full h-60 object-cover" alt="{{ project.title }}">
      
      <div class="p-5 transition">
        <h3 class="text-xl font-bold text-[#09321C] group-hover:text-white">{{ project.title }}</h3>
        <p class="text-black group-hover:text-white">{{ project.description }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  