<div class="text-center text-gray-700 mt-10 mb-10 w-5/6 mx-auto font-roboto text-md font-semibold uppercase leading-relaxed tracking-widest">
  Ellista International® specializes in
  <a href="/aluminium?hsLang=en" class="text-[#8D5C45] hover:underline">Aluminium</a>,
  <a href="/steel-structure?hsLang=en" class="text-[#8D5C45] hover:underline">Steel Structure</a>,
  <a href="/iron?hsLang=en" class="text-[#8D5C45] hover:underline">Iron</a>,
  <a href="/glass-works?hsLang=en" class="text-[#8D5C45] hover:underline">Glass Works</a>,
  <a href="/stainless-steel?hsLang=en" class="text-[#8D5C45] hover:underline">Stainless Steel</a>,
  <a href="/kitchen-accessories?hsLang=en" class="text-[#8D5C45] hover:underline">Kitchen Accessories</a>,
  <a href="/wooden?hsLang=en" class="text-[#8D5C45] hover:underline">Wooden</a>,
  along with
  <a href="/hand-railing?hsLang=en" class="text-[#8D5C45] hover:underline">Hand Railing</a>.
</div>