{% load static %}

<div class="text-center px-6 py-10 mt-6">
  <h2 class="text-3xl font-bold text-gray-900 uppercase">Our Philosophy & Vision</h2>
  <div class="w-16 h-0.5 bg-[#D5BB45] mt-2 mx-auto"></div>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 px-6 lg:px-16 py-10 ">
  <!-- Card 1 -->
 <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] transition duration-300 group rounded-lg">
  <div class="w-16 h-16 mx-auto mb-4">
    <img src="{% static 'images/target.png' %}" alt="icon">
  </div>
  <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">
    Putting Customers First
  </h4>
  <p class="text-lg text-center px-4 text-black group-hover:text-white">
    We prioritize our clients' needs by offering personalized solutions, ensuring quality, and fostering long-term relationships through trust and commitment.
  </p>
</div>


  <!-- Card 2 -->
  <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] hover:text-white transition duration-300 group rounded-lg">
    <div class="w-16 h-16 mx-auto mb-4">
      <img src="{% static 'images/creative.png' %}" alt="icon">
    </div>
    <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">Creativity</h4>
    <p class="text-lg text-center px-4">We bring innovative designs and engineering solutions to reality, ensuring uniqueness in every project while maintaining functionality and elegance.</p>
  </div>

  <!-- Card 3 -->
  <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] hover:text-white transition duration-300 group rounded-lg">
    <div class="w-16 h-16 mx-auto mb-4">
      <img src="{% static 'images/simple.png' %}" alt="icon">
    </div>
    <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">Simplicity</h4>
    <p class="text-lg text-center px-4">We design streamlined, easy-to-integrate solutions, ensuring that our customers get effective, efficient, and elegant outcomes with minimal complexity.</p>
  </div>

  <!-- Card 4 -->
  <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] hover:text-white transition duration-300 group rounded-lg">
    <div class="w-16 h-16 mx-auto mb-4">
      <img src="{% static 'images/commitment.png' %}" alt="icon">
    </div>
    <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">Openness</h4>
    <p class="text-lg text-center px-4">Transparency is key to our work. We communicate openly, embrace feedback, and continuously improve our services to meet evolving industry demands.</p>
  </div>

  <!-- Card 5 -->
  <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] hover:text-white transition duration-300 group rounded-lg">
    <div class="w-16 h-16 mx-auto mb-4">
      <img src="{% static 'images/idea-exchange.png' %}" alt="icon">
    </div>
    <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">Sharing Knowledge</h4>
    <p class="text-lg text-center px-4">We believe in collaboration and knowledge exchange, empowering our clients and team with the latest advancements in architectural solutions.</p>
  </div>

  <!-- Card 6 -->
  <div class="shadow-lg p-6 text-center h-full bg-[#FFFBF0] hover:bg-[#09321C] hover:text-white transition duration-300 group rounded-lg">
    <div class="w-16 h-16 mx-auto mb-4">
      <img src="{% static 'images/arrow.png' %}" alt="icon">
    </div>
    <h4 class="text-2xl font-semibold mb-2 text-[#09321C] group-hover:text-white">Mission and Vision</h4>
    <p class="text-lg text-center px-4">Our mission is to be the most trusted partner in architectural solutions, delivering excellence, innovation, and sustainability in every project we undertake.</p>
  </div>
</div>