        <div>



<div class="mt-10 text-center max-w-lg mx-auto mb-10">
  <h6 class="text-gray-700 mb-5 text-lg font-bold" data-aos="fade-up">Our Projects</h6>
  <h2 class="text-3xl md:text-4xl font-bold text-[#251C17]" data-aos="fade-up">
    Passionate to deliver high-quality products.
  </h2>
</div>

<div class="grid mt-10 grid-cols-1 md:grid-cols-2 gap-4 w-full mx-auto">
  <!-- Item 1 -->
  <div class="relative group">
      <img src="https://www.eurosystems.com/hubfs/DMCCCC.jpg" alt="Uptown Tower" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 transition-all"></div>
      <div class="absolute bottom-4 left-4 text-white">
          <p class="text-sm uppercase tracking-wide">Commercial</p>
          <h2 class="text-lg font-semibold text-white">Uptown Tower</h2>
          <p class="text-sm">Dubai</p>
      </div>
  </div>

  <!-- Item 2 -->
  <div class="relative group">
      <img src="https://www.eurosystems.com/hubfs/beea.jpg" alt="Beeah Group" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 transition-all"></div>
      <div class="absolute bottom-4 left-4 text-white">
          <p class="text-sm uppercase tracking-wide">Sustainable</p>
          <h2 class="text-lg font-semibold text-white">Beeah Group</h2>
          <p class="text-sm">Sharjah</p>
      </div>
  </div>

  <!-- Item 3 -->
  <div class="relative group">
      <img src="https://www.eurosystems.com/hubfs/palm-1.jpg" alt="Private Villa" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 transition-all"></div>
      <div class="absolute bottom-4 left-4 text-white">
          <p class="text-sm uppercase tracking-wide">Residential</p>
          <h2 class="text-lg font-semibold text-white">Private Villa, Palm Jumeirah</h2>
          <p class="text-sm">Dubai</p>
      </div>
  </div>

  <!-- Item 4 -->
  <div class="relative group">
      <img src="https://www.eurosystems.com/hubfs/allured-framed-2.jpg" alt="Private Villa 2" class="w-full h-full object-cover">
      <div class="absolute inset-0 bg-black bg-opacity-40 group-hover:bg-opacity-50 transition-all"></div>
      <div class="absolute bottom-4 left-4 text-white">
          <p class="text-sm uppercase tracking-wide">Residential</p>
          <h2 class="text-lg font-semibold text-white">Private Villa, Palm Jumeirah</h2>
          <p class="text-sm">Dubai</p>
      </div>
  </div>
</div>

 </div>
