<nav class="absolute z-10 w-full transparent">
    <div class="max-w-9xl mx-auto px-4 sm:px-6 lg:px-12">
        <div class="flex justify-between h-16 items-center">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href="/" class="flex items-center space-x-2">
                    <div class="logo">
                        <div class="icon">
                            <span class="text-white">E</span>
                        </div>
                        <div class="text text-white">
                            <div class="main">Ellsta International</div>
                            <div class="tagline">Iron Doors</div>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-6">
                <a href="/" class="text-white hover:text-[#8D5C45]">Home</a>
                <a href="/products" class="text-white hover:text-[#8D5C45]">Products</a>
                <a href="/projects" class="text-white hover:text-[#8D5C45]">Projects</a>
                <a href="/gallary" class="text-white hover:text-[#8D5C45]">Gallary</a>
                <a href="/contact" class="text-white hover:text-[#8D5C45]">Contact</a>
            </div>

            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button id="menu-btn" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

<!-- Mobile Menu -->
<div id="mobile-menu" class="hidden md:hidden bg-[#333] z-50">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <a href="/" class="block text-white hover:text-[#8D5C45]">Home</a>
        <a href="/products" class="block text-white hover:text-[#8D5C45]">Products</a>
        <a href="/projects" class="block text-white hover:text-[#8D5C45]">Projects</a>
        <a href="/gallary" class="block text-white hover:text-[#8D5C45]">Gallary</a>
        <a href="/contact" class="block text-white hover:text-[#8D5C45]">Contact</a>
    </div>
</div>
</nav>