.cm-hero-banner-wrap .overlay-bg {
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%
}

.cm-hero-banner-wrap h1 {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 5px
}

.popup-form h3.form-title span.title {
    -webkit-text-fill-color: #000;
    color: #000;
    font-weight: 900
}

body .popup-form h3.form-title {
    font-weight: 900;
    margin-bottom: 20px;
    position: relative
}

.cm-hero-banner-wrap h1 strong {
    font-weight: 900
}

.cm-hero-banner-wrap .banner-content {
    margin: 0 auto
}

.cm-hero-banner-wrap.full .banner-content {
    text-align: center
}

.cm-hero-banner-wrap .banner-content {
    font-size: 18px
}

.cm-hero-banner-wrap.White,.cm-hero-banner-wrap.White *,.cm-hero-banner-wrap.White h1 {
    color: #fff
}

.cm-hero-banner-wrap.full {
    min-height: 556px;
    padding-bottom: 40px
}

.cm-hero-banner-wrap .inner-container {
    position: relative
}

.cm-hero-banner-wrap {
    align-items: center;
    align-items: flex-end;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 603px;
    padding: 113px 0 70px;
    position: relative
}

.cm-hero-banner-wrap .small-heading {
    color: #6252db;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.36px;
    line-height: 22px;
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase
}

.cm-hero-banner-wrap.White .small-heading {
    color: #a0a3a6;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .27px;
    line-height: 17.5px;
    margin-bottom: 18px;
    text-transform: uppercase
}

.cm-hero-banner-wrap h1+p {
    color: rgba(0,0,0,.8);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    line-height: 1.2;
    margin-top: 17px
}

.cm-hero-banner-wrap .small-heading.bottom {
    color: #3b3f4e;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -.24px;
    line-height: 24px;
    margin-top: 17px;
    text-align: center;
    text-transform: none
}

.cm-hero-banner-wrap {
    text-align: left
}

.cm-hero-banner-wrap .button-group {
    display: flex;
    justify-content: center;
    margin-top: 0
}

.cm-hero-banner-wrap .button-group a {
    background: #fff;
    border-color: #fff;
    border-radius: 4px;
    color: #6e2e9a;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    margin-top: 3px;
    padding: 13px 25px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s ease
}

.cm-hero-banner-wrap .button-group a.button.Link {
    background: transparent;
    border-color: transparent;
    color: #000;
    padding-left: 3px;
    padding-right: 3px
}

.cm-hero-banner-wrap .button-group a:focus,.cm-hero-banner-wrap .button-group a:hover {
    background-color: #6e2e9a;
    border-color: #6e2e9a;
    color: #fff
}

.cm-hero-banner-wrap .button-group .button-item {
    margin: 10px
}

.cm-hero-banner-wrap .button-group a.Gray {
    background: #f2f5f7;
    color: #000
}

.cm-hero-banner-wrap .button-group a svg {
    fill: inherit;
    height: 27px;
    margin-top: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    width: 27px
}

.cm-hero-banner-wrap .button-group a.has-icon {
    position: relative
}

.cm-hero-banner-wrap .button-group a.has-icon i {
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    top: -1px
}

.hero-twocol-wrapper {
    align-items: center;
    display: flex;
    padding-bottom: 93px;
    padding-top: 70px;
    width: 100%
}

.hero-twocol-wrapper .banner-content {
    width: 50%
}

.hero-twocol-wrapper .banner-content .small-heading,.hero-twocol-wrapper .banner-content h1 {
    text-align: left
}

.hero-twocol-wrapper .banner-content .button-group {
    justify-content: flex-start;
    margin-left: -10px
}

.hero-twocol-wrapper .right {
    padding-left: 61px;
    position: relative;
    width: 50%
}

html[lang=ar] .hero-twocol-wrapper .right {
    padding-left: 0;
    padding-right: 20px
}

html[lang=ar] .hero-twocol-wrapper .banner-content,html[lang=ar] .hero-twocol-wrapper .banner-content .small-heading,html[lang=ar] .hero-twocol-wrapper .banner-content h1 {
    text-align: right
}

.cm-hero-banner-wrap.full.no-content {
    min-height: 262px
}

.hero-twocol-wrapper .right .pattern {
    bottom: 75px;
    left: 0;
    max-width: 101px;
    position: absolute;
    width: 101px
}

.cm-hero-banner-wrap .button-group .button-item.White a,.cm-hero-banner-wrap .button-group .button-item.White a * {
    color: red
}

.cm-hero-banner-wrap .button-group .button-item.White a:focus,.cm-hero-banner-wrap .button-group .button-item.White a:hover {
    color: #fff
}

.cm-hero-banner-breadcrumbs {
    background: rgba(235,240,249,.3);
    padding: 16px 0
}

.cm-hero-banner-breadcrumbs ul {
    color: #3f4143;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding: 0
}

.cm-hero-banner-breadcrumbs ul li a {
    color: #3f4143;
    text-transform: uppercase
}

.cm-hero-banner-breadcrumbs ul li {
    margin-right: 5px
}

.cm-hero-banner-breadcrumbs .hs-breadcrumb-menu-wrapper *,.cm-hero-banner-breadcrumbs .hs-breadcrumb-menu-wrappr li * {
    color: #D1B099;
}

.cm-hero-banner-breadcrumbs ul.hs-breadcrumb-menu {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2.8px;
    line-height: normal;
    padding-right: 20px;
    text-transform: uppercase
}

.cm-hero-banner-breadcrumbs .hs-breadcrumb-menu-divider:before {
    content: "/";
    padding-left: 6px
}

.cm-hero-banner-breadcrumbs .hs-breadcrumb-menu-wrapper li {
    padding-left: 6px
}

@media(max-width: 991px) {
    .cm-hero-banner-wrap .hero-twocol-wrapper .button-group a {
        font-size:15px
    }

    .cm-hero-banner-wrap {
        min-height: 500px
    }
}

@media(max-width: 767px) {
    .cm-hero-banner-breadcrumbs ul li {
        padding-bottom:5px;
        padding-top: 5px
    }

    .cm-hero-banner-wrap {
        min-height: 350px
    }

    .hero-twocol-wrapper {
        flex-wrap: wrap
    }

    .hero-twocol-wrapper .banner-content {
        width: 100%
    }

    .hero-twocol-wrapper .right {
        margin-top: 40px;
        padding-left: 0;
        width: 100%
    }

    .cm-hero-banner-wrap h1 {
        font-size: 35px;
        line-height: 1.2
    }

    .cm-hero-banner-wrap.full {
        min-height: 446px;
        padding-bottom: 0
    }

    .cm-hero-banner-wrap.full.no-content {
        min-height: 0;
        padding-top: 110px
    }
}

@media(max-width: 600px) {
    .cm-hero-banner-wrap .button-group a {
        font-size:13px;
        padding: 12px 20px
    }

    .cm-hero-banner-wrap .button-group a.has-icon i {
        vertical-align: middle
    }
}
