{% extends "base.html" %}
{% load static %}
{% block content %}
    <main id="main-content" class="body-container-wrapper">

      <div class="cm-products-layout">
        <div class="mx-auto">
          <div class="relative w-full h-[580px] bg-cover bg-center flex items-center justify-center text-center text-white"
            style="background-image: url('{% static 'images/contact.jpg' %}');">
            <div class="max-w-3xl mx-auto">
              <h1 class="text-6xl font-bold text-white" data-aos="fade-up">Contact Us</h1>
            </div>
          </div>
          
          <div class="bg-[#FFF0DC] py-6">
            <div class="max-w-3xl px-12 font-bold">
              <nav class="text-[#D2916B]">
                <ul class="flex space-x-2">
                  <li><a href="/" class="hover:underline">Home</a></li>
                  <span>/</span>
                  <li class="">Contact</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

    {% include 'home/contact.html' %}

    </main>
{% endblock %}
