{% extends "base.html" %}
{% load static %}
{% block content %}
    <main id="main-content" class="body-container-wrapper">

      <div class="cm-products-layout">
        <div class="mx-auto">
          <div class="relative w-full h-[580px] bg-cover bg-center flex items-center justify-center text-center text-white"
            style="background-image: url('{% static 'images/contact.jpg' %}');">
            
            <div class="max-w-3xl mx-auto">
              <h1 class="text-6xl font-bold text-[#F6D24C]" data-aos="fade-up">Contact Us</h1>
              <nav class="mt-4">
                <ul class="flex justify-center space-x-4 text-sm uppercase font-semibold text-white">
                    <li><a href="/" class="hover:text-[#F6D24C]">Home</a></li>
                    <li>/</li>
                    <li class="">Contact</li>
                </ul>
            </nav>
            </div>
          </div>
        </div>
      </div>

    {% include 'home/contact.html' %}

    </main>
{% endblock %}
