{% extends 'base.html' %}
{% load static%}
{% block content %}

  <section class="relative w-full h-[580px] bg-cover bg-center flex items-center justify-center text-center" style="background-image: url('https://www.shutterstock.com/shutterstock/videos/3509859073/thumb/1.jpg?ip=x480');">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="relative z-10">
        <h1 class="text-4xl font-bold text-white" data-aos="fade-up">Gallary</h1>
        <nav class="mt-4">
            <ul class="flex justify-center space-x-4 text-sm uppercase font-semibold text-[#B47F65]">
                <li><a href="/" class="hover:text-white">Home</a></li>
                <li>/</li>
                <li class="">Gallary</li>
            </ul>
        </nav>
    </div>
  </section>
  <section id="gallery" class="pt-16 pb-12 bg-gray-100">
  <!-- Gallery Grid -->
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Gallery Item -->
      <div class="relative group overflow-hidden rounded-lg shadow-lg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbhIZcZjClVoe6OTpAHqayhvk3h3nuqZTpmg&s" class="w-full h-64 object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
          <span class="text-white font-semibold">Industrial Design</span>
        </div>
      </div>

      <div class="relative group overflow-hidden rounded-lg shadow-lg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5-kcfOpEyO11rO7zSqDmhEjqRLngyNOP1EQ&s" class="w-full h-64 object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
          <span class="text-white font-semibold">Manufacturing Process</span>
        </div>
      </div>

      <div class="relative group overflow-hidden rounded-lg shadow-lg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb6YowaYj_-mouKJ-RZaAr2cTb60OwDsp_wA&s" class="w-full h-64 object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
          <span class="text-white font-semibold">Metal Works</span>
        </div>
      </div>
      <div class="relative group overflow-hidden rounded-lg shadow-lg">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJYZ9lBJQ0YWK2gylgqUxg74F6yKzEYCFBjg&s" class="w-full h-64 object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
          <span class="text-white font-semibold">Glass Structures</span>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}