{% extends 'base.html' %}
{% load static%}
{% block content %}

<section id="gallary" class="ftco-section ftco-no-pt ftco-no-pb">
    <div id="hs_cos_wrapper_module_17326227044691" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="hero-banner-blogs" style="background-image:url('https://www.eurosystems.com/hubfs/Mask%20group-1.png')">
        <div class="inner-container">
          <h1>Gallary</h1>
        </div>
      </div>
      <script>
        $(window).load(function(){
          setTimeout(function(){
            $('body').removeClass('no-banner').addClass('has-banner');
            $('body').addClass('White-header');
          },200)
        })
      </script></div>
      <div class="cm-blog-banner-breadcrumbs">
        <div class="inner-container">
          <ul class="hs-breadcrumb-menu">
            <li class="hs-breadcrumb-menu-item first-crumb"><a href="/" class="hs-breadcrumb-label">Home</a><span class="hs-breadcrumb-menu-divider"></span></li>
            <li class="hs-breadcrumb-menu-item last-crumb"><span class="hs-breadcrumb-label">Gallary</span></li>
          </ul>
        </div>
      </div>

    <div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-1.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Stylist</span>
                    <h3><a href="project.html">Beard</a></h3>
                </div>
                <a href="{% static 'images/work-1.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-2.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Haircut</a></h3>
                </div>
                <a href="{% static 'images/work-2.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-3.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Hairstylist</a></h3>
                </div>
                <a href="{% static 'images/work-3.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-4.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Haircut</a></h3>
                </div>
                <a href="{% static 'images/work-4.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-5.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Makeup</a></h3>
                </div>
                <a href="{% static 'images/work-5.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-6.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Fashion</span>
                    <h3><a href="project.html">Model</a></h3>
                </div>
                <a href="{% static 'images/work-6.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-7.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Makeup</a></h3>
                </div>
                <a href="{% static 'images/work-7.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="project">
                <img src="{% static 'images/work-8.jpg' %}" class="img-fluid" alt="Colorlib Template">
                <div class="text">
                    <span>Beauty</span>
                    <h3><a href="project.html">Makeup</a></h3>
                </div>
                <a href="{% static 'images/work-8.jpg' %}" class="icon image-popup d-flex justify-content-center align-items-center">
                    <span class="icon-expand"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</section>
<script src="{% static 'javascript/jquery.min.js' %}"></script>
<script src="{% static 'javascript/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'javascript/popper.min.js' %}"></script>
<script src="{% static 'javascript/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'javascript/jquery.stellar.min.js' %}"></script>
<script src="{% static 'javascript/owl.carousel.min.js' %}"></script>
<script src="{% static 'javascript/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'javascript/aos.js' %}"></script>
<script src="{% static 'javascript/jquery.animateNumber.min.js' %}"></script>
<script src="{% static 'javascript/scrollax.min.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
{% endblock %}