{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="relative w-full h-[580px] bg-cover bg-center flex items-center justify-center text-center" style="background-image: url('https://www.shutterstock.com/shutterstock/videos/3509859073/thumb/1.jpg?ip=x480');">
    <div class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(circle_at_4%_11%,_rgba(9,_50,_28,_1)_0%,_rgba(9,_50,_28,_0.73)_22%,_rgba(9,_50,_28,_0.65)_49%,_rgba(9,_50,_28,_0.69)_82%,_rgba(9,_50,_28,_1)_100%)]"></div>
  
    <div class="relative z-10">
        <h1 class="text-4xl font-bold text-[#F6D24C]" data-aos="fade-up">Gallery</h1>
        <nav class="mt-4">
            <ul class="flex justify-center space-x-4 text-sm uppercase font-semibold text-white">
                <li><a href="/" class="hover:text-[#F6D24C]">Home</a></li>
                <li>/</li>
                <li class="">Gallery</li>
            </ul>
        </nav>
    </div>
</section>

<section id="gallery" class="pt-16 pb-12 bg-gray-100">
    <!-- Gallery Grid -->
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <!-- Loop through the gallery media context -->
            {% for media in gallery_media %}
            <div class="relative group overflow-hidden rounded-lg shadow-lg">
                <img src="{{ media.file.url }}" class="w-full h-64 object-cover" alt="{{ media.title }}">
                <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
                    <span class="text-white font-semibold">{{ media.title }}</span>
                </div>
            </div>
            {% empty %}
            <p class="text-center text-gray-500">No media available in the gallery.</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}