{% extends 'base.html' %}

{% block title %} HOME {% endblock %}

{% load static %}
{% block content %}

<style>
  .bg-beige { background-color: #FFFBF0; }
  .bg-brown { background-color: #09321C; }
  .more-projects-button {
      display: inline-flex;
      align-items: center;
      background-color: #09321C; /* Button background color */
      color: white; /* Button text color */
      padding: 10px 20px; /* Button padding */
      border-radius: 5px; /* Rounded corners */
      text-decoration: none; /* Remove underline */
      font-weight: bold; /* Bold text */
      transition: background-color 0.3s; /* Smooth background color transition */
      margin-top: 20px; /* Space above the button */
  }
  .more-projects-button:hover {
      background-color: #3A5A46; /* Darker shade on hover */
  }
  .arrow-icon {
      margin-left: 10px; /* Space between text and icon */
  }
</style>

<main id="main-content" class="body-container-wrapper">

    {% include 'home/hero.html' %}
    {% include 'home/links.html' %}
    {% include 'services.html' %}
    {% include 'home/about.html' %}
    {% include 'home/motivations.html' %}

    {% include 'projects/project_grid.html' %}

    <!-- More Projects Button -->
    <div class="text-center">
        <a href="/projects" class="more-projects-button">
            More Projects
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#D8B85B" 
             class="w-6 h-6 arrow-icon">
          <path fill-rule="evenodd" d="M2.25 12a.75.75 0 0 1 .75-.75h16.19l-5.22-5.22a.75.75 0 1 1 1.06-1.06l6.5 6.5a.75.75 0 0 1 0 1.06l-6.5 6.5a.75.75 0 0 1-1.06-1.06l5.22-5.22H3a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
        </svg>
        </a>
    </div>

    {% include 'home/contact.html' %}
</main>

<script src="https://www.eurosystems.com/hs-fs/hub/3017451/hub_generated/template_assets/135732161375/1731304180408/EuroSystems_Sept2023/js/main.min.js"></script>
<script src="{% static 'javascript/cdnjs.cloudflare.com_ajax_libs_slick-carousel_1.8.1_slick.min.js' %}"></script>
{% endblock %}