
{% extends 'base.html' %}




{% load static %}
{% block content %}

<style>
  .bg-beige { background-color: #F5E5DA; }
  .bg-brown { background-color: #8D5C45; }
</style>


<main id="main-content" class="body-container-wrapper">

{% include 'home/hero.html' %}

{% include 'home/links.html' %}

{% include 'home/about.html' %}


      {% include 'home/motivations.html' %}
{% include 'projects/project_grid.html' %}
{#{% include 'home/solutions.html' %}#}

{% include 'home/contact.html' %}







    
          </main>
<script src="https://www.eurosystems.com/hs-fs/hub/3017451/hub_generated/template_assets/135732161375/1731304180408/EuroSystems_Sept2023/js/main.min.js"></script>
<script src="{% static 'javascript/cdnjs.cloudflare.com_ajax_libs_slick-carousel_1.8.1_slick.min.js' %}"></script>
{% endblock %}