{% extends 'base.html' %}
{% load static%}
{% block content %}

<section class="relative w-full h-[580px] bg-cover bg-center flex items-center justify-center text-center" style="background-image: url('https://wallpaperaccess.com/full/3184128.jpg');">
    <div class="absolute top-0 left-0 w-full h-full bg-[radial-gradient(circle_at_4%_11%,_rgba(9,_50,_28,_1)_0%,_rgba(9,_50,_28,_0.73)_22%,_rgba(9,_50,_28,_0.65)_49%,_rgba(9,_50,_28,_0.69)_82%,_rgba(9,_50,_28,_1)_100%)]"></div>
  
  <div class="relative z-10">
      <h1 class="text-4xl font-bold text-[#F6D24C]" data-aos="fade-up">Projects</h1>
      <nav class="mt-4">
          <ul class="flex justify-center space-x-4 text-sm uppercase font-semibold text-white">
              <li><a href="/" class="hover:text-[#F6D24C]">Home</a></li>
              <li>/</li>
              <li class="">Projects</li>
          </ul>
      </nav>
  </div>
</section>


    {% include 'projects/project_grid.html' %}

    


          
{% endblock %}